<div id="qnew" class="container">
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2">

			<h1>Edit Question</h1>

			<%= render 'form' %>

			<%= link_to 'Go Back Home', '/' %><br>
			<%= link_to 'Show Question', @question %>

		</div>
	</div>
</div>
