<div id="qnew" class="container">
  <div class="row">
  	<div class="col-xs-12">

			<h1>Edit Question</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @question %> | 
			<%= link_to 'Home', '/' %>

		</div>
	</div>
</div>
