<div id="qindex" class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>Listing Questions</h1>

      <ul class="list-group">
        <% @questions.each do |question| %>
          <li class="list-group-item">
            <%= link_to question.title, question %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
