<div id="qindex" class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>All Questions</h1>

      <%= paginate @questions %>

      <%= render 'shared/question_list' %>

    </div>
  </div>
</div>
