<div id="qshow" class="container">
  <div class="row">
    <div class="col-xs-12">

    	<h1><%= @question.title %></h1>

    	<%= @question.body %> <br><br>

    	<%= link_to 'Edit', edit_question_path(@question) %> |
			<%= link_to 'Home', '/' %>

    </div>
  </div>
</div>
