<div id="tagged" class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1 id="qh1">Tagged With: <span class="label label-default"><%= params[:tag] %></span></h1>

      <%= render 'shared/sorting' %>
      <%= render 'shared/question_list' %>
      <%= paginate @questions %>

    </div>
  </div>
</div>
