<div id="results" class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>Search Results</h1>

      <%= render 'shared/question_list' %>

      <%= paginate @questions %>

    </div>
  </div>
</div>
