<div id="userindex" class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>All Users</h1>

      <div class="row">
        <% @users.each do |user| %>
          <div class="col-sm-6 col-lg-3">
            <div class="userbox well">
              <%= image_tag user.profile.gravatar_url(default: "identicon", secure: true) %><br>
              <%= user_link(user.username, user.profile) %>
            </div>
          </div>
        <% end %>
      </div>

      <%= paginate @users %>

    </div>
  </div>
</div>
