<div id="usershow" class="container">
  <div class="row">
  	<div class="col-sm-6 col-sm-offset-3">
      <h1>
        <%= image_tag @user.profile.gravatar_url(default: "identicon", secure: true) %>
        <%= profile_name(@user) %>
      </h1>
      <% if @user.profile.tagline && @user.profile.tagline.present? %>
        <blockquote><%= @user.profile.tagline %></blockquote>
      <% end %>
      <% if @user == current_user %>
        <div id="editlink">
          <%= link_to "Edit Your Profile", edit_profile_path(@user.profile) %>
        </div>
      <% end %>
    </div>
  </div>
 </div>
 