////////////////////////////////////////////////////////////
// 												 LAYOUT 											  //
////////////////////////////////////////////////////////////

@mixin border_radius($tl: 3px, $tr: 3px, $br: 3px, $bl: 3px) {
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-top-left-radius: $tl;
  -webkit-border-top-right-radius: $tr;
  -webkit-border-bottom-right-radius: $br;
  -webkit-border-bottom-left-radius: $bl;
  border-radius: $tl $tr $br $bl;
}

body {padding-top: 51px;}
#home, #signin, #signup, #signedit, #reset, #faq, #usershow, #userindex, #qnew, #qindex, #qshow, #results, #profile, #tags, #tagged {padding-top: 60px; padding-bottom: 100px;}
.navbar, .alert {-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {color: #111;}
.navbar-default .navbar-nav > li > a.nav-btn {padding-top: 8px; padding-bottom: 8px;}
.navbar {margin-bottom: 0px;}
.alert {text-align: center;}
li {list-style: none;}
h1 {margin-bottom: 40px;}
.title {font-size: 24px;}
.vcounter, .acounter {text-align: center;}
.acounter {color: #9A4444;}
.count-data {font-size: 24px;}
.count-type {font-size: 12px;}
nav.pagination {
	.page {border: 1px solid #bbb; display: inline-block; width: 22px; text-align: center;}
	.page a {display: inline-block; width: 20px; height: 20px;}
	.page:hover {cursor: pointer; border-color: #777;}
	.current {background-color: #888; border-color: rgba(0, 0, 0, 0.1); color: #fff;}
	.current:hover {cursor: default;}
	.page:hover a {color: #555;}
	a {color: #888;}
	a:hover {text-decoration: none;}
	.next  {margin-left: 3px}
	.prev  {margin-right: 3px}
	.prev a:hover, .next a:hover {color: #555;}
}

////////////////////////////////////////////////////////////
// 							  			  QUESTIONS 	  								  //
////////////////////////////////////////////////////////////

#qshow {
	#question {margin-bottom: 40px;}
	#qvote {padding-top: 20px;}
	#qvote, .avote {text-align: center;}
	#qvote a, .avote a {margin-top: 20px; display: inline-block;}
	#qvote a:hover, .avote a:hover {text-decoration: none;}
	#qbody, #yours {padding-left: 0px; padding-right: 15px;}
	#answers {padding: 0px 15px 10px 0px;}
	#answers h3, #yours h3 {margin-top: -10px;}
	.answer {margin-bottom: 10px;}
	.author {border: 1px solid rgba(0, 0, 0, 0.1); padding: 2px 6px 6px 6px; margin-bottom: 15px; background-color: #E0EAF1; width: 210px; margin-left: auto; margin-right :0px;}
	.timestamp {display: block; padding-bottom: 3px;}
	.picture img {display: inline-block; height: 32px; width: 32px;}
	.name {display: inline-block; padding-left: 5px;}
	.avote {padding-top: 5px;}
	.abody {border-top: 1px solid #ccc; padding: 10px 15px 30px 0px;}
	.comments {border-bottom: 1px dashed #ccc;}
	.comment  {border-top: 1px dashed #ccc; margin-bottom: 10px; padding-top: 10px;}
	.addcmnt {color: #428BCA; display: inline-block; width: 105px; height: 40px; line-height: 40px;}
	.addcmnt:hover {color: #2A6496; cursor: pointer;}
	.cmntform {display: none;}
	.glyphicon-chevron-up {padding-left: 1px;}
	.glyphicon-chevron-down {padding-right: 3px; line-height: 24px;}
	.glyphicon-chevron-up, .glyphicon-chevron-down {font-size: 28px; height: 32px; width: 32px; color: #999;}
	.glyphicon-chevron-up:hover, .glyphicon-chevron-down:hover {cursor: pointer; color: #F0AD4E;}
	.vcount {font-size: 36px; line-height: 28px; font-weight: bolder; z-index: -1; color: #999;}
	.vcount:hover {cursor: default;}
}

#tags {
	.btn-lg {margin: 0px 10px 14px 0px;}
	a, a:hover {text-decoration: none;}
}

#tagged {
	.label {font-size: 36px; padding: .1em .4em;} 
}

////////////////////////////////////////////////////////////
// 							  				  USERS 	  									  //
////////////////////////////////////////////////////////////

#usershow {
	#editlink {margin-top: 100px;}
}

