////////////////////////////////////////////////////////////
// 												 LAYOUT 											  //
////////////////////////////////////////////////////////////

#searchbar {margin-top: 60px;}
.alert {text-align: center; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}



////////////////////////////////////////////////////////////
// 												  HOME 	  										  //
////////////////////////////////////////////////////////////

#home {
	
}